.feedback{
    width:  calc(100% - 1rem);
    float:  left;
    border:  1px solid green;
    background-color: lightgreen;
    padding: 1rem;
    margin-bottom:  2rem;
    position:  fixed;
    top:  -50vh;
    left:  0;
    margin:  0.5rem;
    animation-name: feedback;
    animation-duration: 4s;
    opacity: 0;
}
@keyframes feedback {
    0%   { 
        opacity: 0;
        top:  -50vh;
    }
    1% {
        opacity:  0;
        top: 0;
    }
    10%  { 
        opacity: 1;
        top: 0;
    }
    90%  { 
        opacity: 1;
        top: 0;
    }
    99% {
        opacity: 0;
        top: 0;
    }
    100% { 
        opacity: 0;
        top: 50vh;
    }
}